*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	height: 100vh;
	color: var(--smoke);
}

:root {
	font-size: 62.5%;

	--background: #fff;
	--lime: #59d47e;
	--lime-l: #9becb3;
	--orange: #d49f59;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--background);
}

.gen {
	width: 90%;
	max-width: 40rem;
	padding: 2rem 1.5rem;
	background-color: var(--background);
	border-radius: 2rem;
	border: 2px solid #000;
}

.name {
	font-size: 2.2rem;
	text-align: center;
	text-transform: uppercase;
	color: var(--smoke);
	margin: 0 0 2rem;
}

.display {
	display: flex;
	position: relative;
	height: 5.5rem;
	margin: 5rem 0 0;
}

.display input {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 1rem;
	height: 100%;
	background-color: var(--background);
	border: 2px solid #000;
	padding: 2rem;
	font-size: 1.6rem;
	letter-spacing: 0.2rem;
	font-weight: 900;
	padding-right: 5rem;
}

.copy-button {
	position: absolute;
	top: 50%;
	right: 3.5rem;
	margin: auto 0;
	transform: translateY(-50%);
	cursor: pointer;
}

.copy-button img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.copy-button::after {
	content: "";
	width: 10rem;
	height: 3rem;
	background-color: #fff;
	position: absolute;
	border-radius: 1rem;
	top: -6rem;
	right: -4rem;
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	display: none;
}

.copy-button::before {
	content: "";
	position: absolute;
	border: 1.5rem solid #000;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	top: -3.5rem;
	display: none;
}

.show.copy-button::after,
.show.copy-button::before {
	display: flex;
}

.copy-button:hover::after,
.copy-button:hover::before {
	display: flex;
}

.copy-button:hover::after {
	content: "Copy";
	color: #000;
	border: 2px solid #000;
}

.show.copy-button::after {
	content: "Copied";
	color: var(--lime);
	border: 2px solid #000;
}

.copy {
	display: block;
}

.copied {
	display: none;
}

.control {
	background-color: var(--background);
	padding: 1rem;
	margin: 2rem auto;
	border-radius: 1rem;
}

.char-text {
	margin: 2rem 0;
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	font-weight: 900;
	padding-inline: 1rem;
}

.range-input {
	cursor: grabbing;
	width: 100%;
	margin: 1rem auto 2rem;
	display: block;
	accent-color: #000;
}

.selection {
	margin-bottom: 2rem;
}

label {
	display: block;
	font-size: 1.5rem;
	font-weight: 900;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
}

label input {
	cursor: pointer;
}

.strength-con {
	display: none;
}

.strength {
	height: 3rem;
	padding: 0 0 0 1rem;
	font-weight: 900;
	margin: 1rem auto;
	font-size: 2rem;
}

.strength-color {
	display: flex;
	justify-content: space-evenly;
	margin: 0 0 2rem 0;
}

.color {
	width: 22%;
	height: 0.2rem;
	background-color: #0000005e;
}

.btn {
	width: 100%;
	height: 5rem;
	border-radius: 1rem;
	border: none;
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 0.2rem;
	background-color: #fff;
	color: #000;
	cursor: pointer;
	border: 2px solid #000;
	margin-top: 3rem;
}

input[type="checkbox"] {
	accent-color: #000;
}

.btn:hover {
	background-color: #000;
	color: #fff;
}

.link {
	margin: 2rem auto;
	font-size: 2rem;
}

.link a {
	color: var(--orange);
	text-decoration: none;
}
